<!DOCTYPE html>
<html lang="en">
<style>
body
{
	background-color: #ffffff;
}
h1
{
	color:orange;
	text-align:center;
}
p
{
	font-family:"Times New Roman";
	font-size:20px;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>问卷调查(Designed by Alex.J.Lee) </title>
    <h1>恭喜您，提交成功！</h1>
</head>
<form method="get" action="/welcome">
    <button type="submit" >返回</button>
</form>
<body>

<div id="footer" style="background-color:#ffffff;clear:both;text-align:center;">
版权 © Alex.J.Lee All Rights Rserved by 威海嘉豪科技有限公司 iSight Co.,Ltd (2017-2020)</div>

</body>
</html>