<!DOCTYPE html>
<html>
<style>
    body
    {
        background-image: url(image/2.jpeg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #464646;
    }
</style>
<head>
<meta charset="utf-8">
<title>iSight Glass产品调研(Designed by Alex.J.Lee)</title>


</head>

<body>
<h1>iSight Glass |即刻，待你加入。</h1>
<p>这是一次AR浪潮的来临。</p>
<p>这是一次DIYer的福音。</p>
<p>iSight套件，就是这样简单。</p>
<form method="get" action="/questionnaire">
    <button type="submit" >了解详情</button>
</form>
</body>

</html>